<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CiscoStackOverFlow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C15C5EFB1C1789B5002D1386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15C5F171C1789B5002D1386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15C5F221C1789B5002D1386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
